<%- include('partials/header') -%>
    
    <main>
        <div class="container">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/profile">My profile</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
            </div>
            <div class="mt-3 mb-3 text-center">
                <h2>Dashboard</h2>
            </div>           
            <div class="mt-3 mb-5">
                <a class="btn btn-primary" href="/profile" role="button">My profile</a>
                <a class="btn btn-primary" href="/createJob" role="button">Create a job</a>
                <a class="btn btn-danger" href="/logout" role="button">Log out</a>
            </div> 
            <div class="row hidden-md-up mb-4 mt-4">
                <div class="col-2">
                    <label for="filterBySelect">Filter by :</label>
                    <select class="form-select" id="filterBySelect">
                        <option value="" selected>Choose...</option>
                        <option value="status">Status</option>
                        <option value="date">Date</option>
                    </select>
                </div>
                <div class="col-2">
                    <label for="orderSelect">Order</label>
                    <select class="form-select" id="orderSelect">
                        <option value="" selected>Choose...</option>
                        <option value="asc">Asc</option>
                        <option value="desc">Desc.</option>
                    </select>
                </div>
            </div>
            
            
            
            <div class="row hidden-md-up mb-4 mt-4">
                <% data.forEach(job => { %>
                <div class="col-md-3 mb-4">
                    <div class="card in-down bg-secondary text-white">
                        <div class="card-block">
                            <h4 class="card-title"> <%= job.jobtitle %></h4>
                            <h6 class="card-text p-y-1 mb-4"><%= job.jobcompany %></h6>
                            <a class="btn btn-dark mb-2" href="/viewjob/<%= job._id %>" role="button">More</a>
                            <button type="button" class="btn  mb-2" id="button" value="<%= job.status %>"><%= job.status %></button>
                            <a href="/deletejob/<%= job.id %>" class="btn btn-danger mb-2" role="button">Delete Job</a>
                        </div>
                    </div>
                </div>                
                <% }); %>
            </div>
        </div>        
    </main>
    <script>
        let buttons = document.querySelectorAll('#button')
        
        buttons.forEach(button => {
            if (button.value === 'Interested') {
                button.classList.add('btn-warning')
            } else if (button.value === 'CV sent') {
                button.classList.add('btn-info')
            } else if (button.value === 'Negative') {
                button.classList.add('btn-danger')
            } else if (button.value === 'Interview') {
                button.classList.add('btn-success')
            }
        })

        document.addEventListener('DOMContentLoaded', function () {
        const filterSelect = document.getElementById('filterBySelect')
        const orderSelect = document.getElementById('orderSelect')

        // Listen for changes on the filter or order selects
        filterSelect.addEventListener('change', updateJobs)
        orderSelect.addEventListener('change', updateJobs)

        function updateJobs() {
            const filterBy = filterSelect.value
            const order = orderSelect.value

            // Build query string
            let query = '?';
            if (filterBy) query += `filterBy=${filterBy}&`
            if (order) query += `order=${order}&`

            // Redirect to the updated URL
            window.location.href = `/dashboard${query}`
        }
    })
        
    </script>
    
    <%- include('partials/footer') -%>