<%- include('partials/header') -%>
    
    <main>
        <div class="container">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/profile">My profile</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">View Job ID: <%= data.id %></li>
                    </ol>
                </nav>
            </div>
            <div class="mt-3 mb-3 text-center">
                <h2><%= data.jobtitle %></h2> 
            </div>           
            <div class="mt-3 mb-5">
                <a class="btn btn-primary" href="/profile" role="button">My profile</a>
                <a class="btn btn-primary" href="/dashboard" role="button">Dashboard</a>
                <a class="btn btn-danger" href="/logout" role="button">Log out</a>
            </div> 
            <div class="mb-3 mt-3">
                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <p>Company</p> 
                    </div>
                    <div class="col-md-4">                            
                        <p><%= data.jobcompany %></p>
                    </div>                                              
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <p>Website: </p> 
                    </div>
                    <div class="col-md-4">                            
                        <p><a href="<%= data.website %>" target="_blank"><%= data.website %></a></p>
                    </div>                                              
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <hr>
                    </div>                                                                  
                </div>                
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <p>Contact of the employer</p>
                    </div>                                                                  
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <p>Name</p> 
                    </div>
                    <div class="col-md-4">                            
                        <p><%= data.employersName %></p>
                    </div>                                              
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <p>Email</p> 
                    </div>
                    <div class="col-md-4">                            
                        <p><a href="mailto:<%= data.employersEmail %>"><%= data.employersEmail %></a></p>
                    </div>                                              
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <p>Phone</p> 
                    </div>
                    <div class="col-md-4">                            
                        <p><%= data.employersPhone %></p>
                    </div>                                              
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <p>Address</p> 
                    </div>
                    <div class="col-md-4">                            
                        <p><%= data.employersAddress %></p>
                    </div>                                              
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <hr>
                    </div>                                                                  
                </div>                
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <p><%= data.origin %></p>
                    </div>                                                                  
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <p>Status :</p> 
                    </div>
                    <div class="col-md-4">                            
                        <p><%= data.status %></p>
                    </div>                                              
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <p>Comment :</p> 
                    </div>
                    <div class="col-md-4">                            
                        <p><%= data.comments %></p>
                    </div>                                              
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <a href="/editjob/<%= data.id %>" class="btn btn-warning">Modifiy Job</a>
                    </div>                                             
                </div>
            </div>
        </div>        
    </main>

    
    <%- include('partials/footer') -%>